@page "/placementdescription"

@using BDSA2020.Shared;
@inject HttpClient httpClient
@inject IJSRuntime JS;





@if (placementDescriptions == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <div class="container placementDescriptionView">
        <div class="row">
            <div class="col-12">
                <p> @placementDescriptions.Length </p>
                @foreach (var item in placementDescriptions)
                {
                        <p>@item.Title</p>
                        <img src="@item.Thumbnail" alt="">
                        <p>@item.Description</p>
                        <li>@item.MinWorkingHours</li>
                        <li>@item.Location</li>
                        <li>@item.MinSalary</li>
                        //<p class="boldText">Last apply date: @GetLastApplyDate(item.Id -1)</p>
                        //<p class="boldText">Days remaining: @DaysRemaining(item.Id -1)</p>
                }
            </div>
        </div>
        <div class="row buttonrow">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="d-flex flex-row buttonrow justify-content-center">
            <div class="p-2">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-danger">Danger</button>
            </div>
            <div class="p-2">
                <button type="button" class="btn btn-dark">Dark</button>
            </div>
        </div>
    </div>
}
@*    
<div class="scroll-container" id="scroll-container">
    <!-- Four placeholder Placement Descriptions-->

    @foreach (var item in placementDescriptions)
    {
    <div class="placement scroll-area">
        <div class = "frame">
            <div style="height: 30px;"></div>
            <h5>@item.Title</h5>
            <img src="@item.Thumbnail" alt="">
                <p class = "description">@item.Description</p>
                    <div class="divider"></div>
                    <ul class="description">
                        <li>@item.MinWorkingHours</li>
                        <li>@item.Location</li>
                        <li>@item.MinSalary</li>
                    </ul>
                    <div class="divider"></div>
                    <div style="height: 20px;"></div>
                    <div class="btnPlacement more">
                        <p class="center">More</p>
                    </div>
                <p class="boldText">Last apply date: @GetLastApplyDate(item.Id -1)</p>
                <p class="boldText">Days remaining: @DaysRemaining(item.Id -1)</p>
            </div>
        </div>
    }
</div>
}



<div class="frame">
    <div class="btnPlacement apply">
        <p class="center">Apply</p>
    </div>
  
    <div class="row center">
        <div onclick="goPrev()" class="column"style="background-color:white;">^</div>
        <div class="like"  style="background-color: black; color: white;"></div>
        <div onclick="goNext()" class="column" style="background-color:white;">v</div>
    </div>
</div>

*@
@code {

    private PlacementDescriptionDetailsDTO[] placementDescriptions;
        
     protected override async Task OnInitializedAsync()
    {
        placementDescriptions = await httpClient.GetFromJsonAsync<PlacementDescriptionDetailsDTO[]>("PlacementDescriptionRepository");
        
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //To run JS AFTER Blazor is done loading application
        await JS.InvokeAsync<string>("CardAnimation");
    }

        private string GetLastApplyDate(int id)
    {
        var applyDate = placementDescriptions[id].LastApplyDate;
        return applyDate.ToShortDateString();
    }

    private string DaysRemaining(int id)
    {
        var applyDate = placementDescriptions[id].LastApplyDate;
        DateTime today = DateTime.Now;
        var daysLeft = applyDate.Subtract(today);
        return (daysLeft.Days + 1).ToString(); 
    }
}

@*

@if (students == null){

}

@if (placementDescriptions == null)
{
    <p><em>Loading...</em></p>
}
else
{

}

@code {
    private Student[] students;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //To run JS AFTER Blazor is done loading application
        await JS.InvokeAsync<string>("CardAnimation");
    }
}
{    
    <h5>Placement Descriptions</h5>
    <div class="placement my-card">
    <div class = "frame">
        <div style="height: 30px;"></div>
    <h5>LEO Pharma - @placementDescriptions[currentCount].Title</h5>
    <img src="@placementDescriptions[currentCount].Thumbnail" alt="">
    <p class = "description">@placementDescriptions[currentCount].Description</p>
        <div class="divider"></div>
    <ul class="description">
            <li>Min hours weekly: @placementDescriptions[currentCount].MinWorkingHours</li>
            <li>Degree: @placementDescriptions[currentCount].Degree</li>
            <li>Location: @placementDescriptions[currentCount].Location</li>
            <li>Min salary: @placementDescriptions[currentCount].MinSalary</li>
            <li>Email: @placementDescriptions[currentCount].Email</li>
    </ul>
        <div class="divider"></div>
        <div style="height: 20px;"></div>
        <div class = "btnPlacement">
            <a href="https://www.google.com">More</a>
        </div>
        <div class = "btnApplyPlacement">
        <a href="mailto:Goolge.com">Apply Now</a>
    </div>
    </div>
    
    
    @*<p>PlacementDescription: @currentCount</p>
</div>
<p class= "applyDate"> Placement Description Duration: @(GetLastApplyDate())</p>
<p class= "applyDate"> Days Remaining: @(DaysRemaining())</p>
<button class="btn btn-primary" @onclick="DecrementCount">Back</button>
<button class="btn btn-save" @onclick="DecrementCount">&heartsuit;</button>
<button class="btn btn-primary" @onclick="IncrementCount">Next</button>


@code {
    private PlacementDescription[] placementDescriptions;
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        students = await httpClient.GetFromJsonAsync<Student[]>("StudentRepository");
        placementDescriptions = await httpClient.GetFromJsonAsync<PlacementDescription[]>("PlacementDescriptionRepository");
    }

    // Implement write to Saved, method.
    // Save placementdescription-ID in database.

     private void IncrementCount()
    {
        if (this.currentCount == placementDescriptions.Length - 1) { return; }
        currentCount++;
    }

    private void DecrementCount()
    {
        if (this.currentCount == 0) { return; }
        currentCount--;
    }
}*@
